body{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.nameHighlight{
    color: #ffa500;
}
.top-part{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    padding: 2%;
}
.top-banner .top-half{
    width: 40%;
}
.top-half img{
    width: 100%;
}
.top-banner{
    background: url('/images/top-banner.png') no-repeat;
    margin: 20px 0;
}
.top-half a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-image:linear-gradient(45deg,lightsalmon, tomato);
    color: #fff;
}


.middle-banner{
    background: url('/images/dream-bg.png') no-repeat;
    background-position: right;
}
.middle-half a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    background-image:linear-gradient(45deg,lightsalmon, tomato);
    color: #fff;
}
.middle-part{
    display: flex;
    flex-direction: row;

}
.middle-half img{
    width: 100%;
}
.middle-half{
    width: 40%;
    margin-left: 5%;
    padding: 2%;
}

.bottom-half h2{
    font-size: 35px;
}
.bottom-half h3{
    color: #ffa500;
}
.clear-both{
    clear: both;
}
.bottom-half{
    float: left;
    width: 40%;
    margin-left: 70px;
    height: 350px;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    background-color: white;
  
}
.bottom-section{
    height: 500px;
    background:url('/images/exp-bg.png') no-repeat;
    background-position: left;
    margin: 20px 0;
}
.card1{
    border-image:linear-gradient(180deg,lightsalmon, tomato);
    border-left: 7px solid;
    border-image-slice:1;
}
.card2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}